// --------------Variables--------- //

// colors //
$black: #212121;
$grey: #607D8B;
$red: #D32F2F;
$grey1: #757575;
$grey2: #BDBDBD;
$white: white;

// width //
$width: 960px;
$widthtable: 100%;
$width-td: 300px;
