* {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  body {
    background-image: url("img/bg.jpg");
    background-repeat: repeat-x;
    height: 90%;
    background-size: contain;
   
  }
  img {
    position: absolute;
    height: 150px;
    top: 60%;
    left: 45%;
  }
